{{>admin-sidebar}}
<!-- Main content -->
<div class="content">
  <div class="container-fluid">

    <div class="row ">
      <div class="col-md-4 col-sm-6 col-12 mt-3">
        <div class="info-box">
          <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Employee</span>
            <span class="info-box-number">{{dashboardData.total_user}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-6 col-12 mt-3">
        <div class="info-box">
          <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Products</span>
            <span class="info-box-number">{{dashboardData.total_products.count}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- /.col -->
      <div class="col-md-4 col-sm-6 col-12 mt-3">
        <div class="info-box">
          <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Feedbacks</span>
            <span class="info-box-number">{{dashboardData.totalFeedbacks.count}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row">
      <div class="col-lg-6 mt-3">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">New Items</h3>
            <div class="card-tools">
              {{!-- <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-download"></i>
              </a>
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-bars"></i>
              </a> --}}
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Stock</th>
                </tr>
              </thead>
              <tbody>
                {{#each dashboardData.total_products.items}}
                <tr>
                  <td>
                    <img src="/product-images/thumbnails/{{this.prodID}}.jpg" alt="Product 1"
                      class="img-circle img-size-32 mr-2">
                    {{this.product}}
                  </td>
                  <td>{{this.price}}</td>
                  <td>
                    {{this.qty}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="col-lg-6 mt-3">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Latest Feedbacks</h3>
            <div class="card-tools">
              {{!-- <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-download"></i>
              </a>
              <a href="#" class="btn btn-tool btn-sm">
                <i class="fas fa-bars"></i>
              </a> --}}
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Comment</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                {{#each dashboardData.totalFeedbacks.items}}
                <tr>
                  <td>
                    <img src="/product-images/thumbnails/{{this.prodId}}.jpg" alt="Product 1"
                      class="img-circle img-size-32 mr-2">
                    {{this.product}}
                  </td>
                  <td>{{this.comment}}</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-warning progress-bar-striped" role="progressbar"
                        aria-valuenow="{{#calcProgress this.rating}}{{/calcProgress}}" aria-valuemin="0"
                        aria-valuemax="100" style="width: {{#calcProgress this.rating}}{{/calcProgress}}%">
                        <span>{{this.rating}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-md-6 -->
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<style>
  .stars {
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
  }
</style>