<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
{{>admin-sidebar}}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Catogary</th>
                                    <th>Short Description</th>
                                    {{#if dealerUser}}
                                    <th>Price</th>
                                    <th>Active</th>
                                    {{/if}}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{this.product_name}}</td>
                                    <td>{{this.category}}</td>
                                    <td>{{this.shortdescription}}</td>
                                    {{#if ../dealerUser}}
                                    <td> {{this.price}}</td>
                                    <td><input type="checkbox" name="active" id="{{this._id}}" {{#if this.active }}
                                            checked {{/if}} data-bootstrap-switch data-on-text="Active"
                                            data-off-text="Blocked" data-off-color="danger" data-on-color="success">
                                    </td>
                                    {{/if}}
                                    <td class="d-inline"><a href="edit_product/{{this._id}}" class="m-1 btn btn-info">
                                            <span class="far fa-circ">Update</span>
                                        </a>
                                        <button class="m-1 btn btn-danger" onclick="deleteProduct('{{this._id}}')">
                                            <span class="far fa-circle">Delete</span>
                                        </button>
                                        {{#if ../dealerUser}}<a href="/admin/edit_price/{{this._id}}"
                                            class="m-1 btn btn-warning"><span class="far fa-circle">Price</span></a>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
</div>