<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
{{>admin-sidebar}}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone</th>
                                    <th>Username</th>
                                    <th>Store</th>
                                    <th>Supper User</th>
                                    <th>Active</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td>{{this.firstname}}</td>
                                    <td>{{this.lastname}}</td>
                                    <td>{{this.mobile}}</td>
                                    <td> {{this.username}}</td>
                                    <td>{{this.store}}</td>
                                    <td>{{this.supper_user}}</td>
                                    <td><input type="checkbox" name="active" id="{{this._id}}" checked data-bootstrap-switch data-on-text="Active"
                    data-off-text="Blocked" data-off-color="danger" data-on-color="success"></td>
                                    <td><a href="editStore/{{this._id}}" class="pl-1 pr-1"><ion-icon name="receipt-outline"></ion-icon> </a><a href="" class="pr-1"><ion-icon name="trash-outline"></ion-icon></a><a><span class="far fa-clock "></span></a></td>
                                </tr>

                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
</div>