<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
{{>admin-sidebar}}
<section class="content">
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List of all Products</h3>
                    </div>
                    {{#if statusMsg}}
                    <div class="alert alert-danger m-3 text-center text-white" role="alert">
                        {{statusMsg}}
                    </div>
                    {{/if}}
                    <div class="card-body">
                        <table id="view_product" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Catogary</th>
                                    <th>Short Description</th>
                                    {{#if dealerUser}}
                                    <th>Price</th>
                                    <th>Active</th>
                                    {{/if}}
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each data}}
                                <tr>
                                    <td>{{this.product_name}}</td>
                                    <td>{{this.category}}</td>
                                    <td>{{this.shortdescription}}</td>
                                    {{#if ../dealerUser}}
                                    <td> {{this.price}}</td>
                                    <td><input type="checkbox" name="active" id="{{this._id}}" {{#if this.active }}
                                            checked {{/if}} data-bootstrap-switch data-on-text="Active"
                                            data-off-text="Blocked" data-off-color="danger" data-on-color="success">
                                    </td>
                                    {{/if}}
                                    <td class="d-inline"><a href="edit_product/{{this._id}}" class="m-1 btn btn-info">
                                            <span class="far fa-circ">Update</span>
                                        </a>
                                        <button class="m-1 btn btn-danger" onclick="deleteProduct('{{this._id}}')">
                                            <span class="far fa-circle">Delete</span>
                                        </button>
                                        
                                        {{#if ../dealerUser}}<a href="/admin/edit_price/{{this._id}}"
                                            class="m-1 btn btn-warning"><span class="far fa-circle">Price</span></a>
                                        {{/if}}
                                        
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="add-category">
    <div class="modal-dialog add-category">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/add-category" method="POST">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="category" class="col-sm-4 col-form-label">Category:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="category" name="category"
                                placeholder="New Category" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


</div>