<!--banner-->
<div class="banner">
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="assets/images/ba1.jpg" alt="">
    </div>
    <div class="col-sm-6 matter-banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    {{#each carousel}}
                    <li>
                        <img src="/Carousel-images/{{this}}" alt="">
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 banner-mat">
        <img class="img-responsive" src="assets/images/ba.jpg" alt="">
    </div>
    <div class="clearfix"> </div>
</div>

<!--//banner-->
<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>Recent Products</h1>
            <div class="content-top1">
                {{#each products}}
                <div class="col-md-3 col-md2">
                    {{#if this.ribbon}}
                    <div class="ribbon-wrapper ribbon-xl">
                        <div class="ribbon bg-{{this.ribbonstyle}} text-xl">
                            {{this.ribbon}}
                        </div>
                    </div>
                    {{/if}}
                    <div class="col-md1 simpleCart_shelfItem">
                        <a href="detailes/{{this._id}}">
                            <img class="img-responsive"
                                onerror="if (this.src != '/admin/img/error.png') this.src = '/admin/img/error.png';"
                                src="/product-images/thumbnails/{{this._id}}.jpg" alt="" />
                        </a>
                        <h3><a href="detailes/{{this._id}}">{{this.product_name}}</a></h3>
                        <h3>{{this.shortdescription}}</h3>
                        <div class="price">
                            <h5 class="item_price">{{this.price}}</h5>
                            <button onclick="addTocart('{{this._id}}')" class="item_add">Add To Cart</button>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>