<div class="container">
	<div class="check-out">
		<h1>{{{t "orderlist.orderlist"}}}</h1>
		{{#if orderStatus}}
		<div class="alert alert-info" role="alert">
			{{orderStatus}}
		</div>
		{{/if}}
		<div class="table-responsive">
			<table class="table table-striped table-bordered" id="orders">
				<thead>
					<tr>
						<th>{{{t "orderlist.date"}}}</th>
						<th>{{{t "orderlist.paymentmethod"}}}</th>
						<th>{{{t "orderlist.store"}}}</th>
						<th>{{{t "orderlist.orderstatus"}}}</th>
						<th>{{{t "orderlist.total"}}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each orderItems}}
					<tr>
						</td>
						<td>{{#dateTime this.orderDate}}{{/dateTime}}</td>
						<td>{{this.paymentMethod}}</td>
						<td>{{this.storename}}[{{this.storecompany}}]</td>
						<td class="d-inline-block">{{ this.lastStatus.status}} <br><span
								class="text-muted d-inline-block font-italic font-weight-light">{{#dateTime
								this.lastStatus.time}}{{/dateTime}} </span></td>
						<td>{{this.totalAmount}}</td>
						<td>
							<div class="btn-group btn-group-vertical p-3 order-button" role="group"
								aria-label="Basic example">
								<a href="javascript:viewStatus('{{this._id}}');" class="btn btn-success"><i
										class="fas fa-truck">{{{../t "orderlist.status"}}}</i></a>
								<a href="javascript:viewCartitems('{{this._id}}');" class="btn btn-info"><i
										class="fas fa-cart-plus"></i>{{{../t "orderlist.items"}}}</a>
								{{#if this.Finished}}
								<a href="javascript:generateBill('{{this._id}}');" class="btn btn-warning"><i
										class="fas fa-check-circle">{{{../../t "orderlist.receipt"}}}</i></a>
								{{/if}}

								{{#elseIf this.lastStatus.status 'Pending'}}<a href="/re-payment/{{../this._id}}"
									class="btn btn-success">{{{../../t "orderlist.repayment"}}}</a>{{/elseIf}}
							</div>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="view-cart">
	<div class="modal-dialog view-cart">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Order Detailes</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-sm table-bordered table-hover">
						<thead class="thead-dark">
							<tr class="table-primary">
								<td>{{{t "checkout.item"}}}</td>
								<td>{{{t "checkout.qty"}}}</td>
								<td>{{{t "checkout.price"}}}</td>
								<td>{{{t "orderlist.total"}}}</td>
							</tr>
						</thead>
						<tbody id="getCode">
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="view-tracks">
	<div class="modal-dialog modal-lg view-tracks">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Order Tracking Detailes</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>