<div class="container">
    <div class="check-out">
        <h1>Re Payment Order</h1>
        <div class="clearfix"> </div>
        <div class="col-md-6 col-12">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="table-primary">
                            <td>{{{t "checkout.item"}}}</td>
                            <td>{{{t "checkout.qty"}}}</td>
                            <td>{{{t "checkout.price"}}}</td>
                            <td>{{{t "orderlist.total"}}}</td>
                        </tr>
                    </thead>
                    {{#each orderdItems}}
                    <tr class="table-primary">
                        <td>{{this.item}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.price}}</td>
                        <td>{{multiple this.quantity this.price}}</td>
                    </tr>
                    {{/each}}
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="payment p-5" style="margin-bottom: 4em;">
                <div class="total">
                    <h3>Total <span>{{orderTotal}}</span></h3>
                </div>
                <hr>
                <form id="repayment" method="POST">
                    <div class="container">
                        <h5 class="m-5">Payment Method</h5>
                        <input type="hidden" name="orderId" value="{{orderId}}">
                        {{#each paymentMethods}}
                        <div class="form-check m-5 selectpayment">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="payment-type"
                                value="{{@key}}" checked>
                            <label class="form-check-label" for="{{@key}}">
                                {{this}}
                            </label>
                        </div>
                        {{/each}}

                    </div>

                    <hr>
                    <div class="d-flex">
                        <button type="submit" class="payment-button"> PROCEED TO PAYMENT</button>
                        <div class="clearfix"> </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>