<div class="container">
    <div class="register">
        <h1>{{{t "signup.register"}}}</h1>
        <form action="signup" method="post" id="signup">
            <div class="col-md-6 register-top-grid">

                <div class="mation">
                    <div class="form-group">
                        <span>{{{t "signup.firstname"}}}</span>
                        <input type="text" name="first_name" id="first_name">
                    </div>

                    <div class="form-group">
                        <span>{{{t "signup.lastname"}}}</span>
                        <input type="text" name="last_name" id="last_name">
                    </div>
                    <div class="form-group">
                        <span>{{{t "signup.mobile"}}}</span>
                        <input type="tel" name="mobile" id="mobile">
                    </div>
                </div>
                <div class="clearfix"> </div>
                <a class="news-letter" href="#">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>{{{t "signup.signup"}}}</label>
                </a>
            </div>
            <div class=" col-md-6 register-bottom-grid">

                <div class="mation">
                    <div class="form-group">
                        <span>{{{t "signup.username"}}}</span>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="form-group">
                        <span>{{{t "account.password"}}}</span>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-group">
                        <span>{{{t "signup.confirmpassword"}}}</span>
                        <input type="password" name="confirm_password" id="confirm_password">
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>


            <div class="register-but">
                <input type="submit" value="{{{t "signup.submit"}}}">
                <div class="clearfix"> </div>
        </form>
    </div>
</div>

<div class="modal fade" id="otp_validater">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">{{{t "signup.vaidate"}}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="otp" placeholder="OTP">
                </div>
                <div class="col-sm-10">
                    <p id="error_text"></p>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" onclick="validateOtp()" class="btn btn-outline-light">Validate</button>
            </div>
        </div>
    </div>
</div>

</div>